*.classpath
*.project
*.prefs
/.idea/
/target/
/bin/
/node/
/node_modules/
/dist/
*.iml
*.class
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/sonarlint.json
/.sonarlint/